@model MoooLien.Models.ViewModel.CourseViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Manage Courses</h2>

<p>
    <a href="~/Courses/Create" class="btn btn-primary">Create Course</a>
</p>

@Html.AntiForgeryToken()

<div>
    <table class="table-bordered table table-striped table-responsive table-hover">
        <tbody>
            @foreach (var x in Model.courses)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Enrole", "Administrators", new { id = x.ID})">
                            @x.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

