@model MoooLien.Models.Entities.Assignment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Solve Assignment</h2>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
