@model MoooLien.Models.ViewModel.AssignmentViewModel

@{
    ViewBag.Title = "AssignmentsInCourse";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<h2>My Assignments</h2>

@*Sýna þennan takka ef user role == teacher*@
<p>
    <a href="@Url.Action("Create", "Assignments", new { id = ViewBag.courseID }) " class="btn btn-primary">Create Assignment</a>
</p>

<div>
    <table class="table-bordered table table-striped table-responsive table-hover">
        <tbody>
            @foreach (var x in Model.assignments)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Solutions", new { id = x.ID})">
                            @x.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div>
    @Html.ActionLink("Back to my courses", "UserIndex", "Courses")
</div>
