@model MoooLien.Models.ViewModel.AssignmentViewModel

@{
    ViewBag.Title = "AssignmentsInCourse";
}

<h2>Assignments</h2>


<div class="col-md-6" id="Assignments">
    <h1>@ViewBag.Title</h1>
    <div>
        <table class="table-bordered table table-striped table-responsive table-hover">
            <tbody>
                @foreach (var x in Model.assignments)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("details", "assignments", new { id = x.ID})">
                                @x.name
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
