@model MoooLien.Models.ViewModel.AssignmentViewModel

@{
    ViewBag.Title = "TeacherIndex";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<h2>Name of the course...</h2>

<p>
    <a href="@Url.Action("Create", "Assignments", new { id = ViewBag.courseID }) " class="btn btn-primary">Create Assignment</a>
</p>

<div>
    <table class="table table-hover">
        <tbody>
            @foreach (var x in Model.assignments)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("viewHandin", "Solutions", new { id = x.ID})">
                            @x.name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @Html.ActionLink("Back to My Courses", "UserIndex", "Courses")
    </div>
</div>