@model MoooLien.Models.ViewModel.UsersCoursesViewModel

@{
    ViewBag.Title = "UsersInCourse";
}

<h2>Courses</h2>


<div class="col-md-6" id="Courses">
    <h1>@ViewBag.Title</h1>
    <div>
        <table class="table-bordered table table-striped table-responsive table-hover">
            <tbody>
                @foreach (var x in Model.courses)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("details", "course", new { id = x.ID})">
                                @x.name
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
