@model MoooLien.Models.ViewModel.CreateUserViewModel

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<div class="dinosaur">
    @using (Html.BeginForm("add", "user", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class="text=danger"})
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Username, new { @class="form-control", placeholer = "Username"})
            </div>
        </div>
    }
</div>

