@model MoooLien.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
@Html.AntiForgeryToken()
<table class="userTable">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>

</table>
