@{
    ViewBag.Title = "Admin Corses";
}


<div>
    <ol class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="#">Admin</a></li>
        <li><a href="#">Course</a></li>
        <li class="active">Manage Course </li>
    </ol>
</div>

<div class="container">
    <h2>Admin  Course Tabs</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#adminMC">Manage Courses</a></li>
        <li><a data-toggle="tab" href="#adminCC">Create Courses</a></li>
        <li><a data-toggle="tab" href="#adminDC">Delete Courses</a></li>

    </ul>

    <div class="tab-content">
        <div id="adminMC" class="tab-pane fade in active">
            <h3>Manage Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="adminCC" class="tab-pane fade">
            <h3>Create Courses</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="adminDC" class="tab-pane fade">
            <h3>Delete Courses</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>
