@{
    ViewBag.Title = "Admin Users";
}

<!-- Breadcrumbs code begin -->
<div>
    <ol class="breadcrumb" style="margin: 5px;">
        <li><a href="#">Admin</a></li>
        <li><a href="#">Users</a></li>
        <li class="active">Manage Users </li>
    </ol>
</div>
<!-- Breadcrumbs code ends -->
&nbsp;
<!-- User Tabs code begin -->
<div></div>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#adminMC">Manage Users</a></li>
        <li><a data-toggle="tab" href="#adminCC">Create User</a></li>
        <li><a data-toggle="tab" href="#adminDC">Delete User</a></li>

    </ul>

    <div class="tab-content">

        <!-- Manage Users Tab -->
        <div id="adminMC" class="tab-pane fade in active">
            <h3>Manage Users</h3>
            <p>Click on the user you want to edit.</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Andri Guðmundsson</a>
                <a href="#" class="list-group-item">Bergvin Þór Gíslason</a>
                <a href="#" class="list-group-item">Garðar Már Jónsson</a>
                <a href="#" class="list-group-item">Einar Magnús Einarsson</a>
                <a href="#" class="list-group-item">Svanur Jóhannsson</a>
            </div>
        </div>

        <!-- Create User Tab -->
        <div id="adminCC" class="tab-pane fade">
            <h3>Create User</h3>
            <form>
                <fieldset class="form-group">
                    <label for="userName">User name:</label>
                    <input type="text" class="form-control" id="userName" placeholder="Enter full name">
                </fieldset>

                <fieldset class="form-group">
                    <label for="userName">SSN:</label>
                    <input type="tel" maxlength="10" class="form-control" id="ssn" placeholder="123456-7890">
                </fieldset>

                <fieldset class="form-group">
                    <label for="userName">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="email@domain.com">
                </fieldset>

                <fieldset class="form-group">
                    <label for="type">User type:</label>
                    <select class="form-control" id="type">
                        <option>Select type</option>
                        <option value="0">Admin</option>
                        <option value="1">Teacher</option>
                        <option value="3">Studend</option>
                    </select>
                </fieldset>
                
                <p> << Láta þetta birtast ef notandi er "student" >></p>

                <fieldset class="form-group">
                    <label for="department">Department</label>
                    <select class="form-control" id="department">
                        <option>Select department</option>
                        <option>Tölvunarfræði - 1. önn</option>
                        <option>Tölvunarfræði - 2. önn</option>
                        <option>Tölvunarfræði - 3. önn</option>
                        <option>Tölvunarfræði - 4. önn</option>
                        <option>Tölvunarfræði - 5. önn</option>
                        <option>Tölvunarfræði - 6. önn</option>
                        <option>Hugbúnaðarfræði - 1. önn</option>
                        <option>Hugbúnaðarfræði - 2. önn</option>
                        <option>Hugbúnaðarfræði - 3. önn</option>
                        <option>Hugbúnaðarfræði - 4. önn</option>
                        <option>Hugbúnaðarfræði - 5. önn</option>
                        <option>Hugbúnaðarfræði - 6. önn</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label for="major">Major:</label>
                    <select class="form-control" id="major">
                        <option>Select major</option>
                        <option>Tölvunarfræði</option>
                        <option>Hugbúnaðarfræði</option>
                    </select>
                </fieldset>

                <fieldset class="form-group">
                    <label for="semester">Semester:</label>
                    <select class="form-control" id="semester">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </fieldset>

                <button type="submit" class="btn btn-success">Create</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </div>

        <!-- Delate User Tab -->
        <div id="adminDC" class="tab-pane fade">
            <div id="adminMC" class="tab-pane fade in active">
                <h3>Delate User</h3>
                <p>Click on the user you want to delate.</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Andri Guðmundsson<span class="badge">Delete</span></a>
                    <a href="#" class="list-group-item">Bergvin Þór Gíslason<span class="badge">Delete</span></a>
                    <a href="#" class="list-group-item">Garðar Már Jónsson<span class="badge">Delete</span></a>
                    <a href="#" class="list-group-item">Einar Mangús Einarsson<span class="badge">Delete</span></a>
                    <a href="#" class="list-group-item">Svanur Jóhannesson<span class="badge">Delete</span></a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Course Tabs code ends -->
<!-- User Tabs code ends -->
