@{
    ViewBag.Title = "Admin Users";
}

<div>
    <ol class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="#">Admin</a></li>
        <li><a href="#">Users</a></li>
        <li class="active">Manage Users </li>
    </ol>
</div>

<div class="container">
    <h2>Admin Users Tabs</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#adminUsers">Manage Users</a></li>
        <li><a data-toggle="tab" href="#adminCU">Create Users </a></li>
        <li><a data-toggle="tab" href="#adminDU">Delete Users</a></li>

    </ul>

    <div class="tab-content">
        <div id="adminMU" class="tab-pane fade in active">
            <h3>Manage Users</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="adminCU" class="tab-pane fade">
            <h3>Create Users</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="adminDU" class="tab-pane fade">
            <h3>Delete Users</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>