@model IEnumerable<MoooLien.Models.Entities.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Administrator/_Layout.cshtml";
}

<h2>Hér verður hægt að sýsla með notendur ef guð og lukkan verður með okkur!</h2>