@model MoooLien.Models.Entities.Assignment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h2>Hand-in`s</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
