@model MoooLien.Models.Entities.Assignment

@{
    ViewBag.Title = "C++ Compile test page";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<h2>Hand-in - @Html.DisplayFor(model => model.name) </h2>

@using (Html.BeginForm("UploadStatus", "Solutions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" accept=".txt,.cpp" /> <br />

    <input type="submit" value="Upload" />

}

<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
