@model MoooLien.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "viewStudentsInCourse";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}

<h2>@Html.ViewBag.assName</h2>

<div>
<h4>Click on students to see his solutions.</h4>
<table class="table table-hover">

    @foreach (var user in Model.users)
    {
        <tr>
            <td><a href="@Url.Action("viewHandin", "Solutions", new { userID = user.Id, courseID = ViewBag.assignId })"> @user.UserName </a></td>
        </tr>
    }
</table>
</div>
