@model MoooLien.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "viewStudentsInCourse";
}

<h2>viewStudentsInCourse</h2>
<div>
<h4>Students</h4>
<table class="table table-hover">

    @foreach (var user in Model)
    {
        <tr>
            <td>@user</td>
        </tr>
    }
</table>
</div>
