@model MoooLien.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "viewStudentsInCourse";
}

<h2>viewStudentsInCourse</h2>
<div>
<h4>Students</h4>
<table class="table table-hover">

    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td><a href="@Url.Action("viewHandin", "Solutions", new { assignID = ViewBag.assignId})"></a></td>
        </tr>
    }
</table>
</div>
